<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
    <form name="frm">
        <table width="350">
            <tr>
                <td colspan="2" align="center">สมัครสมาชิก</td>
            </tr>
            <tr>
                <td>ชื่อ :</td>
                <td> <input type="text" name="txt_fname" > </td>
            </tr>
             <tr>
                <td>นามสกุล : </td>
                <td><input type="text" name="txt_lname" > </td>
            </tr>
             <tr>
                <td>อีเมล :  </td>
                <td><input type="text" name="txt_email" size="30"> </td>
            </tr>
             <tr>
                <td>ชื่อบัญชีผู้ใช้ :</td>
                <td><input type="text" name="txt_user" > </td>
            </tr>
            <tr>
                <td>รหัสผ่าน :</td>
                <td> <input type="text" name="txt_pwd" ></td>
            </tr>
            <tr >
                <td colspan="2" align="center"><input type="button" name="btn_SigeUp" value="กดปุ่มสมัคร"></td>
            </tr>
        </table>
    </form>
</body>
</html>